<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ข้อมูลส่วนตัวของTA</title>
<script src="static/../ข้อมูลTA/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
<script src="static/../ข้อมูลTA/SpryAssets/SpryValidationSelect.js" type="text/javascript"></script>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<style type="text/css">
body {
	background-image: url();
}
.bg-color.shadow table tr td blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote .shadow {
	font-size: large;
	text-align: center;
}
.bg-color.shadow table tr td {
	font-size: medium;
}
.bg-color.shadow table {
	text-align: right;
}
.bg-color.shadow table {
	text-align: right;
}
.bg-color.shadow table tr td blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote .shadow {
	font-size: medium;
}
</style>
<link rel="stylesheet" href="../../static/style.css">
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="static/menu_style_2.css" />
<link href="../ข้อมูลTA/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css" />
<link href="../ข้อมูลTA/SpryAssets/SpryValidationSelect.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<form id="contact-form" action="register_TA", method="POST">
<body onload="MM_preloadImages('static/img/user_icon_1.png','static/img/home_icon_1.png','../../static/img/home_icon_1.png','../../static/img/bell_icon_1.png','../../static/img/end2.png')">
<table height="836" border="0" align="center" class="header_img">
  <tr>
    <td height="32" colspan="5" align="center" valign="top"><img src="static/img/header.png" name="header" id="header" class="bg-color shadow header_img" /></td>
  </tr>
  <tr>
    <td width="14" height="50" align="center" valign="bottom" class="bg-color2 shadow">
    
    <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ></span>
    <span class="caret"></span></button>
    <ul class="dropdown-menu font">
      <li><a href="recruitment">ประกาศรับสมัคร</a></li>
      <li><a href="pass_audition">ประกาศรายชือผู้ผ่านการคัดเลือก</a></li>
      <li><a href="EX_TA_form">ตัวอย่างการกรอกแบบฟอร์มการทำงาน</a></li>
      <li><a href="contact">ติดต่อ/แจ้งปัญหา</a></li>
      <div class="dropdown-divider"></div>
      <li><a href="TA_working_form">กรอกแบบฟอร์มชั่วโมงการทำงาน</a></li>
      <li><a href="profile">ข้อมูลส่วนตัว</a></li>
        <li><a href="evaluation">แบบประเมิณการทำงาน</a></li>
    </ul>
  </div>

    
    
    
    
    </td>
    <td width="147" align="center" valign="top" class="bg-color1 shadow1"><a href="home" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_icon','','static/img/Home1.png',1)"><img src="../../static/img/Home.png" width="149" height="48" id="home_icon" class="bg-color1" /></a></td>
    <td width="345" class="bg-color1 shadow1">&nbsp;</td>
    <td width="168" align="center" class="bg-color1 shadow1"><img src="../../static/img/User TA.png" width="170" height="48" /></td>
    <td width="119" align="center" valign="top" class="bg-color1 shadow1"><a href="logout" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('logout','','static/img/end2.png',1)"><img src="static/img/end1.png" width="121" height="39" id="logout" /></a></td>
    
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<a href="login" class="btn btn-info btn-lg" role="button"></a>
				  </form>
					
				  <div class="login-help">
					<a href="forgot_password">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>
    
   
  </tr>
  <tr>
    <td height="614" colspan="5" align="center" class="bg-color shadow font"><table width="994" height="452" border="0">
  <td height="61" colspan="7" align="center"><p><strong>ข้อมูลส่วนตัวของTA </strong></p>
  </blockquote></td>
  </tr>
  <tr>
    <td width="17" height="38">&nbsp;</td>
    <td width="202" align="right"> ชื่อ :</td>
    <td width="154" align="left">
      <span id="sprytextfield1">
        <label for="text18"></label>
        <input type="text" name="name" id="text18" size="30"/>
        </span>
    </td>
    <td width="117" align="center">นามสกุล :</td>
    <td width="273" align="left"><input type="text" name="surname" id="text5" style="width:150px;" /></td>
    <td width="205" colspan="2" rowspan="3" align="center"><label for="fileField"></label>
      </form></td>
    </tr>
  <tr>
    <td height="38">&nbsp;</td>
    <td align="right">สาขาวิชา :</td>
    <td colspan="3" align="left"><span id="spryselect1">
      <label for="select5"></label>
      <select name="department" id="select5">
        <option>-</option>
        <option>วิศวกรรมหุ่นยนต์และระบบอัตโนมัติ</option>
        <option>วิศวกรรมเครื่องกล</option>
        <option>วิศวกรรมไฟฟ้า</option>
        </select>
      </span> &nbsp;ระดับ :
      <select name="xxx" id="select3">
        <option>-</option>
        <option>ปริญญาตรี</option>
        <option>ปริญญาโท</option>
        <option>ปริญญาเอก</option>
        </select>
      &nbsp;ชั้นปี : &nbsp;
      <select name="level" id="select2">
        <option>-</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        </select>
        <span id="spryselect2">
          <label for="select2" width=""></label>
          </span>
      </td>
    </tr>
  <tr>
    <td height="38">&nbsp;</td>
    <td align="right">รหัสนักศึกษา :</td>
    <td colspan="3" align="left">
      <span id="sprytextfield3">
        <label for="text19"></label>
        <input type="text" name="idnumber" id="text19" style="width:200px;"/>
        </span>&nbsp;&nbsp;เกรด :<span id="sprytextfield5">
          <label for="text20"></label>
          <input type="text" name="grade" id="text20" style="width:60px;"/>
          </span>
    </td>
    </tr>
  <tr>
    <td height="38">&nbsp;</td>
    <td align="right">อีเมล :</td>
    <td colspan="5" align="left">
      <span id="sprytextfield4">
        <label for="text21"></label>
        <input type="text" name="email" id="text21" style="width:250px;"/>
        </span>&nbsp;&nbsp;เบอร์โทรศัพท์
      : <span id="sprytextfield6">
        <label for="text22"></label>
        <input type="text" name="text8" id="text22" style="width:150px;"/>
        </span>
    </td>
    </tr>
  <tr>
    <td height="38">&nbsp;</td>
    <td align="right">วิชาที่สมัคร :</td>
    <td colspan="5" align="left">
      <span id="sprytextfield7">
        <label for="text23"></label>
        <input type="text" name="subject" id="text23" style="width:250px;"/>
        </span>
    </td>
    </tr>
  <tr>
    <td height="38">&nbsp;</td>
    <td align="right" valign="top">ความสามารถ :</td>
    <td colspan="5" align="left">
      <span id="sprytextfield8">
        <label for="text24"></label>
        <input type="text" name="attribute" id="text24" style="width:250px;" height="100"/>
        </span>
    </td>
    </tr>
  <tr>
    <td height="26">&nbsp;</td>
    <td>เลขบัญชี :</td>
    <td colspan="5" rowspan="2" align="left">
      <span id="sprytextfield9">
        <label for="text25"></label>
        <input type="text" name="accountnum1" id="text25" style="width:75px;"/>
        </span>- <span id="sprytextfield10">
          <label for="text26"></label>
          <input type="text" name="accountnum2" id="text26" style="width:75px;"/>
          </span> - <span id="sprytextfield11">
            <label for="text27"></label>
            <input type="text" name="accountnum3" id="text27" style="width:100px;" />
            </span>
    </td>
    </tr>
  <tr>
    <td height="27">&nbsp;</td>
    <td>&nbsp;</td>
	</tr>
    </table>
      <p>
<button type="submit" class="btn btn-warning">บันทึก</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;</p></td>
      
  </tr>
</table>
	
<script type="text/javascript">
var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1");
var spryselect1 = new Spry.Widget.ValidationSelect("spryselect1");
var spryselect2 = new Spry.Widget.ValidationSelect("spryselect2");
var sprytextfield3 = new Spry.Widget.ValidationTextField("sprytextfield3");
var sprytextfield4 = new Spry.Widget.ValidationTextField("sprytextfield4");
var sprytextfield5 = new Spry.Widget.ValidationTextField("sprytextfield5");
var sprytextfield6 = new Spry.Widget.ValidationTextField("sprytextfield6");
var sprytextfield7 = new Spry.Widget.ValidationTextField("sprytextfield7");
var sprytextfield8 = new Spry.Widget.ValidationTextField("sprytextfield8");
var sprytextfield9 = new Spry.Widget.ValidationTextField("sprytextfield9");
var sprytextfield10 = new Spry.Widget.ValidationTextField("sprytextfield10");
var sprytextfield11 = new Spry.Widget.ValidationTextField("sprytextfield11");
</script>
</form>
</body>
</html>
