<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <form id="contact-form" action="/evaluateadd", method="POST">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TA</title>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<style type="text/css">
body {
	background-image: url();
}
</style>
<link rel="stylesheet" href="static/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="static/menu_style_2.css" />
 <link rel="stylesheet" href="static/login.css"/>
 <style type="text/css">
 body,td,th {
	font-size: 18px;
}
 </style>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body onload="MM_preloadImages('static/img/user_icon_1.png','static/img/home_icon_1.png')">

<table height="836" border="0" align="center" class="header_img">
  <tr>
    <td height="32" colspan="5" align="center" valign="top"><img src="static/img/header.png" name="header" id="header" class="bg-color shadow header_img" /></td>
  </tr>
  <tr>
    <td width="14" height="50" align="center" valign="bottom" class="bg-color2 shadow">
    
    <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ></span>
    <span class="caret"></span></button>
    <ul class="dropdown-menu font">
      <li><a href="recruitment">ประกาศรับสมัคร</a></li>
      <li><a href="pass_audition">ประกาศรายชือผู้ผ่านการคัดเลือก</a></li>
      <li><a href="EX_TA_form">ตัวอย่างการกรอกแบบฟอร์มการทำงาน</a></li>
      <li><a href="contact">ติดต่อ/แจ้งปัญหา</a></li>
      <div class="dropdown-divider"></div>
      <li><a href="TA_working_form">กรอกแบบฟอร์มชั่วโมงการทำงาน</a></li>
      <li><a href="profile">ข้อมูลส่วนตัว</a></li>
      <li><a href="evaluation">แบบประเมิณการทำงาน</a></li>
      <li><a href="printingfrom">พิมพ์แบบฟอร์มการทำงาน</a></li>  
    </ul>
  </div>

    
    
    
    
    </td>
   <td width="155" align="center" valign="top" class="bg-color1 shadow1"><a href="home" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_icon','','static/img/home_icon_1.png',1)"><img src="static/img/home_icon.png" width="155" height="50" id="home_icon" class="bg-color1" /></a></td>
    <td width="710" class="bg-color1 shadow1">&nbsp;</td>
    <td width="168" align="center" class="bg-color1 shadow1"><img src="../../static/img/User TA.png" width="170" height="50" /></td>
    <td width="119" align="center" valign="top" class="bg-color1 shadow1"><a href="logout" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('logout','','static/img/end2.png',1)"><img src="static/img/end1.png" width="155" height="50" id="logout" /></a></td>
    
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<a href="login" class="btn btn-info btn-lg" role="button"></a>
				  </form>
					
				  <div class="login-help">
					<a href="forgot_password">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>
    
   
  </tr>
  <tr>
    <td height="761" colspan="5" bgcolor="#CCCCCC"><table width="980" height="757" border="0" align="center" >
      <tr>
        <td colspan="6" align="center" bgcolor="#CCCCCC"><strong><h2>แบบประเมินการทำงาน</h2></strong></td>
      </tr>
      <tr>
        <td width="521" rowspan="2" align="center" bgcolor="#CCCCCC">รายการ</td>
        <td colspan="5" align="center" bgcolor="#CCCCCC">ระดับความพึงพอใจ</td>
      </tr>
      <tr>
        <td width="84" align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td width="84" align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td width="84" align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td width="84" align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td width="89" align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC"><strong>1.ความต้องการเว็บไซต์</strong></td>
        <td colspan="5" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">1.1 ตรงกับการทำชั่วโมงการทำงาน</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC"><select name="one1" id="point">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">1.2 ดีกว่าระบบเดิมที่เคยมี</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC"><select name="one2" id="point">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">1.3 ข้อมูลครบถ้วน</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC"><select name="one3" id="point">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC"><strong>2.ความสะดวกสบายในการใช้เว็บไซต์</strong></td>
        <td colspan="5" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">2.1 หน้าเว็บไซต์อ่านง่าย</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC"><select name="two1" id="point">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">2.2 หาปุ่มเมนูที่ต้องทำได้ง่าย</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC"><select name="two2" id="point">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">2.3 ตัวอักษรมีความอ่านง่ายชัดเจน</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC"><select name="two3" id="point">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC"><strong>3.ความง่ายต่อการเข้าถึงเว็บไซต์</strong></td>
        <td colspan="5" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">3.1 ง่ายต่อการใช้งาน</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC"><select name="three1" id="point">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">3.2 การกระจายข่าวสาร</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC"><select name="three2" id="point">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">3.3 ประหยัดเวลาในการทำงาน</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC"><select name="three3" id="point">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">&nbsp;</td>
      </tr>
      <tr>
        <td height="143" colspan="7" bgcolor="#CCCCCC">
          <p> แสดงความคิดเห็นเพิ่มเติม </p>
          <p id="textarea" name="comment" cols="100" rows="5">
            <textarea style="overflow:auto;resize:none" rows="12" cols="120" name= "comment"></textarea>
          </p>
      </td>
      </tr>
      <tr>
        <td bgcolor="#CCCCCC">&nbsp;</td>
        <td colspan="3" bgcolor="#CCCCCC">&nbsp;</td>
        <td align="center" bgcolor="#CCCCCC">
          <button type="submit" name="submit" id="button" value="   Submit   " class="btn btn-info" />ส่งแบบฟอร์ม</button>
        </td>
      </tr>
    </table>
  <p></p>
</table>
</form>
</body>
</html>
