<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <form id="contact-form" action="/adminselectnew", method="POST">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ตรวจแบบฟอร์มการทำงาน</title>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<style type="text/css">
body {
	background-image: url();
}
</style>
<link rel="stylesheet" href="static/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="static/menu_style_2.css" />
 <link rel="stylesheet" href="static/login.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<form onload="MM_preloadImages('static/img/user_icon_1.png','static/img/home_icon_1.png')">

<table width="985" height="848" border="0" align="center" class="header_img">
 <tr>
    <td height="32" colspan="5" align="center" valign="top"><img src="static/img/header.png" name="header" id="header" class="bg-color shadow header_img" /></td>
  </tr>
  <tr>
    <td width="48" height="48" align="center" valign="bottom" class="bg-color2 shadow">
    
    <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ></span>
    <span class="caret"></span></button>
    <ul class="dropdown-menu font">
      <li><a href="recruitment">ประกาศรับสมัคร</a></li>
      <li><a href="pass_audition">ประกาศรายชือผู้ผ่านการคัดเลือก</a></li>
      <li><a href="EX_TA_form">ตัวอย่างการกรอกแบบฟอร์มการทำงาน</a></li>
      <li><a href="contact">ติดต่อ/แจ้งปัญหา</a></li>
      <div class="dropdown-divider"></div>
      <li><a href="Show_Teacherwant_Admin">ความต้องการของอาจารย์</a></li>
      <li><a href="Show_register1">รายชื่อผู้สมัคร + ผู้ผ่านการคัดเลือก</a></li>
      <li><a href="TA_working_form">ตรวจแบบฟอร์มชั่วโมงการทำงาน</a></li>
      <li><a href="#">แก้ไข/อัพเดท ประกาศ </a></li>
      <li><a href="evaluation">ผลการประเมิน</a></li>
      <li><a href="post_TA">อัพโหลดไฟล์ PDF</a></li>
    </ul>
  </div>
    
    
    
    
    </td>
    <td width="123" align="center" valign="top" class="bg-color1 shadow1"><a href="home" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_icon','','static/img/home_icon_1.png',1)"><img src="static/img/home_icon.png" width="155" height="50" id="home_icon" class="bg-color1" /></a></td>
    <td width="701" class="bg-color1 shadow1">&nbsp;</td>
    <td width="46" align="center" valign="top" class="bg-color1 shadow1"><img src="../../static/img/User admin.png" width="170" height="50" /></td>
    <td width="46" align="center" valign="top" class="bg-color1 shadow1"><a href="logout" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('logout','','static/img/end2.png',1)"><img src="static/img/end1.png" width="155" height="50" id="logout" /></a></td>
  </tr>
  <tr>
    <td height="614" colspan="5" align="center" valign="top" class="bg-color shadow"><p>&nbsp;</p>
      <table width="765" height="2724" border="0">
        <tr>
          <td height="40" align="center" valign="top" class="font1">ตรวจแบบฟอร์มการทำงานแต่ละวิชา</td>
        </tr>
        <tr>
          <td height="234" align="center" valign="top"><p>&nbsp;</p>
            <table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA141</td>
              <td width="589">ชื่อวิชา : COMPUTER PROGRAMMING FOR ROBOTICS AND AUTOMATION ENGINEERING I </td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>

                  <td width="414" align="center">ชื่อ</td>

                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                  <td height="55" align="center">{% for i in nameFRA121 %}{{i}}<br><br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>{% for i in nameFRA121 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                  </td>
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="202" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="102">รหัสวิชา   FRA161</td>
              <td width="604">&nbsp;&nbsp;ชื่อวิชา : ROBOTICS EXPLORATION</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                  <td height="55" align="center">{% for i in nameFRA161 %}{{i}}<br><br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>{% for i in nameFRA161 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                  </td>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="201" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA221</td>
              <td width="583">ชื่อวิชา : DIGITAL ELECTRONICS</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                   <td height="55" align="center">{% for i in nameFRA221 %}{{i}}<br><br>{% endfor %}</td>
                 <td align="center" valign="middle">
                    <br>{% for i in nameFRA221 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="201" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA222</td>
              <td width="583">ชื่อวิชา : INDUSTRIAL SENSORSAND ACTUATORS</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                   <td height="55" align="center">{% for i in nameFRA222 %}{{i}}<br><br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>{% for i in nameFRA222 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="203" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา FRA231</td>
              <td width="583">ชื่อวิชา : STATICS AND DYNAMICS</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                   <td height="55" align="center">{% for i in nameFRA231 %}{{i}}<br><br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>{% for i in nameFRA231 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="205" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA241</td>
              <td width="583">ชื่อวิชา : SOFTWARE DEVELOPMENT FOR ROBOTICS AND AUTOMATION ENGINEERING</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                  <td height="55" align="center">{% for i in nameFRA241 %}{{i}}<br><br>{% endfor %}</td>
                  <<td align="center" valign="middle">
                    <br>{% for i in nameFRA241 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="205" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA261</td>
              <td width="583">ชื่อวิชา : ROBOTICSAND AUTOMATION ENGINEERING LAB II</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                   <td height="55" align="center">{% for i in nameFRA261 %}{{i}}<br>
                     <br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>{% for i in nameFRA261 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="206" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA321</td>
              <td width="583">ชื่อวิชา : IMAGE PROCESSING AND ANALYSIS</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                 <td height="55" align="center">{% for i in nameFRA321 %}{{i}}<br><br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>{% for i in nameFRA321 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="207" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA331</td>
              <td width="583">ชื่อวิชา : BASIC CONTROL THEORY</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                   <td height="55" align="center">{% for i in nameFRA331 %}{{i}}<br>
                     <br>{% endfor %}</td>
                 <td align="center" valign="middle">
                    <br>
                    {% for i in nameFRA331 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="209" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA332</td>
              <td width="583">ชื่อวิชา : ROBOT STRUCTURE DESIGN II</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                   <td height="55" align="center">{% for i in nameFRA332 %}{{i}}<br>
                     <br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>
                    {% for i in nameFRA332 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="205" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA341</td>
              <td width="583">ชื่อวิชา : BEDDED SYSTEM DESIGN</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                   <td height="55" align="center">{% for i in nameFRA341 %}{{i}}<br>
                     <br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>
                    {% for i in nameFRA341 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA451</td>
              <td width="583">ชื่อวิชา : MANUFACTURING AND AUTOMATION</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                   <td height="55" align="center">{% for i in nameFRA451 %}{{i}}<br>
                     <br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>
                    {% for i in nameFRA451 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td height="203" align="center" valign="top"><table width="716" height="173" border="0" class="font2">
            <tr>
              <td width="117">รหัสวิชา  FRA452</td>
              <td width="583">ชื่อวิชา : MANUFACTURING PROCESS</td>
            </tr>
            <tr>
              <td colspan="2" align="center"><table width="678" height="91" border="1">
                <tr>
                  <td width="414" align="center">ชื่อ</td>
                  <td width="248" align="center">รายละเอียด</td>
                </tr>
                <tr>
                   <td height="55" align="center">{% for i in nameFRA452 %}{{i}}<br>
                     <br>{% endfor %}</td>
                  <td align="center" valign="middle">
                    <br>
                    {% for i in nameFRA452 %}
                    <button  name="{{i}}" type="submit" class="btn btn-info">Detail</button><br><br>{% endfor %}
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
      </table>
      <p>&nbsp;</p>
    <p>&nbsp;</p></td>
  </tr>
</table>
</form>
</body>
</html>
