<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <form id="contact-form" action="/addregisnormal", method="POST">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>สมัครเข้าเป็น นักศึกษา TA / นักศึกษา ทุนจ้างงาน</title>
<script src="static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
<script src="static/SpryAssets/SpryValidationSelect.js" type="text/javascript"></script>
<script src="static/SpryAssets/SpryValidationTextarea.js" type="text/javascript"></script>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
</script>
<style type="text/css">
body {
	background-image: url();
}
</style>
<link rel="stylesheet" href="static/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="static/menu_style_2.css" />
 <link rel="stylesheet" href="static/login.css"/>
 <link href="static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css" />
 <link href="static/SpryAssets/SpryValidationSelect.css" rel="stylesheet" type="text/css" />
 <link href="static/SpryAssets/SpryValidationTextarea.css" rel="stylesheet" type="text/css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body onload="MM_preloadImages('static/img/user_icon_1.png','static/img/home_icon_1.png')">

<table height="724" border="0" align="center" class="header_img">
  <tr>
    <td height="32" colspan="5" align="center" valign="top"><img src="static/img/header.png" name="header"  id="header" class="bg-color shadow header_img" /></td>
  </tr>
  <tr>
    <td width="47" height="50" align="center" valign="bottom" class="bg-color2 shadow">

    <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ></span>
    <span class="caret"></span></button>
    <ul class="dropdown-menu font">
     <li><a href="recruitment">ประกาศรับสมัคร</a></li>
      <li><a href="pass_audition">ประกาศรายชือผู้ผ่านการคัดเลือก</a></li>
      <li><a href="EX_TA_form">ตัวอย่างการกรอกแบบฟอร์มการทำงาน</a></li>
      <li><a href="contact">ติดต่อ/แจ้งปัญหา</a></li>
    </ul>

  </div>
   </td>


    <td width="155" align="center" valign="top" class="bg-color1 shadow1"><a href="home" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_icon','','static/img/home_icon_1.png',1)"><img src="static/img/home_icon.png" width="155" height="50" id="home_icon" class="bg-color1" /></a></td>
    <td width="757" class="bg-color1 shadow1">&nbsp;</td>
    <td width="44" align="center" valign="top" class="bg-color1 shadow1"><a href="" data-toggle="modal" data-target="#login-modal"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','static/img/login gray.png',1)"><img src="../../static/img/login black.png" name="user_icon" width="170" height="48" id="Image3" class="bg-color1" /></a>


    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
					<input type="submit" value="login"/>


				  <div class="login-help">
					<a href="forgot_password">Forgot Password</a>
				  </div>
				</div>
		</div>
	  </div>

    </td>
  </tr>
  <tr>
    <td height="614" colspan="4" valign="top" class="bg-color shadow font"><p>&nbsp;</p>
      <table width="1000" height="623" border="0" align="center">
        <tr>
          <td height="97" colspan="10" align="center" valign="bottom"><h4>สมัครเข้าเป็น นักศึกษา TA / นักศึกษา ทุนจ้างงาน</h4><br></td>
        </tr>
        <tr>
          <td width="26" height="38">&nbsp;</td>
          <td width="161" align="right"> ชื่อ :</td>
          <td width="220" height="38"align="left">
              <label for="text8"></label>
            <input name="name" type="text" id="text8" style="width:150px;"/>
          </td>
          <td width="151" align="right">นามสกุล :</td>
          <td colspan="4" align="left">
              <label for="text9"></label>
              <input type="text" name="surname" id="text9" style="width:150px;"/>
</td>
          <td colspan="2" rowspan="4" align="left">
            <label for="img"></label>
            <label for="fileField"></label>
            <label for="fileField"></label>
          </td>
        </tr>
        <tr>
          <td height="44" rowspan="2">&nbsp;</td>
          <td height="44" align="right">ภาควิชา :</td>
          <td colspan="6" align="left"><label for="select5"></label>
              <select name="department" id="select5">
                 <option selected="selected">-</option>
              <option>Chemical Engineering</option>
              <option>Civil Engineering</option>
              <option>Computer Engineering</option>
              <option>Electrical Engineering</option>
              <option>Electronics and Telecommunication Engineering</option>
              <option>Environmental Engineering</option>
              <option>Food Engineering</option>
              <option>Control System and Instrumentation Engineering</option>
              <option>Mechanical Engineering</option>
              <option>Production Engineering</option>
              <option>Tool and Materials Engineering</option>
              <option>Computer and Information Technology</option>
              <option>Civil Technology Education</option>
              <option>Education Communications and Technology</option>
              <option>Electrical Technology Education</option>
              <option>Mechanical Technology Education</option>
              <option>Printing and Packaging Technology</option>
              <option>Production Technology Education</option>
              <option>Chemistry</option>
              <option>Mathematics</option>
              <option>Microbiology</option>
              <option>Physics</option>
            </select>
              สาขาวิชา :
              <select name="branch" id="select6">
                <option selected="selected">-</option>
                <option selected="selected">-</option>
                <option>Engineering </option>
                <option>Industrial Education and Technology (IET)</option>
                <option>Science (SC)</option>
                <option>Institute of FIeld roBOtics (FIBO)</option>
              </select></td>
</tr>
        <tr>
          <td height="44" align="right">ระดับ :</td>
          <td colspan="6" align="left"><label for="select5"></label>
              <select name="degree" id="select">
                <option selected="selected">-</option>
                <option>ปริญญาตรี</option>
                <option>ปริญญาโท</option>
                <option>ปริญญาเอก</option>
              </select>
              &nbsp; ชั้นปี : &nbsp;
              <select name="level" id="select2">
                <option selected="selected">-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
</tr>
        <tr>
          <td height="38">&nbsp;</td>
          <td align="right">รหัสนักศึกษา :</td>
          <td colspan="6" align="left">
            <span id="sprytextfield3">
              <label for="text19"></label>
              <input type="text" name="idnumber" id="text19" style="width:200px;"/>เกรด :
              <label for="text20"></label>
              <input type="text" name="grade" id="text20" style="width:60px;"/>
</td>
</tr>
        <tr>
          <td height="38">&nbsp;</td>
          <td align="right">อีเมล :</td>
          <td colspan="7" align="left">
            <span id="sprytextfield4">
              <label for="text21"></label>
              <input type="text" name="email" id="text21" style="width:250px;"/>&nbsp;&nbsp;เบอร์โทรศัพท์
                  :
                  <label for="text22"></label>
                  <input type="text" name="tel" id="text22" style="width:150px;"/>
</td>
          <td width="251">&nbsp;</td>
        </tr>
        <tr>
          <td height="38">&nbsp;</td>
          <td align="right">วิชาที่ต้องการสมัคร :</td>
          <td colspan="7" align="left">
            <span id="sprytextfield7">
              <label for="text23"></label>

            <select name="subject" id="select4">
              <option selected="selected">-</option>
              <option>FRA141</option>
              <option>FRA161</option>
              <option>FRA221</option>
              <option>FRA241</option>
              <option>FRA261</option>
              <option>FRA321</option>
              <option>FRA331</option>
              <option>FRA332</option>
              <option>FRA341</option>
              <option>FRA451</option>
              <option>FRA452</option>



          </select></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="44">&nbsp;</td>
          <td align="right">เลขบัญชี :</td>
          <td colspan="7" align="left" nowrap="nowrap"><
              <label for="text25"></label>
              <input name="accountnum1" type="text" id="text25" style="width:50px;" maxlength="3"/>
              <label for="text26"></label>
              <input name="accountnum2" type="text" id="text26" style="width:50px;" maxlength="3"/>
              <label for="text27"></label>
              <input name="accountnum3" type="text" id="text27" style="width:75px;" maxlength="4" />
</td>
</tr>
        <tr>
          <td height="69">&nbsp;</td>
          <td align="right" valign="top">ความสามารถ:</td>
          <td colspan="7" align="left" valign="top"><
            <span id="sprytextarea1">
              <label for="textarea1"></label>
              <input name="attribute" type="text" id="text27" style="width:75px;" maxlength="4" />
</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top">&nbsp;</td>
          <td align="left" valign="top">&nbsp;</td>
          <td align="left" valign="top">&nbsp;</td>
          <td align="left" valign="top">&nbsp;</td>
          <td width="45" align="left" valign="top">&nbsp;</td>
          <td width="45" align="left" valign="top">&nbsp;</td>
          <td width="57" align="left" valign="top">        <button  name="print" type="submit" class="btn btn-info"> สมัคร</button>
        </tr>

        <tr>
          <td colspan="7" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7" align="left" nowrap="nowrap">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7" align="left">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7" align="left">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="6" align="left">&nbsp;</td>
        </tr>
        <tr> </tr>
        <tr> </tr>
        <tr>
          <td colspan="4" align="left">&nbsp;</td>
          <td width="220" height="38"align="left">&nbsp;</td>
        </tr>
      </table>
    <p>&nbsp;</p></td>
  </tr>
</table>
<script type="text/javascript">
var sprytextfield6 = new Spry.Widget.ValidationTextField("sprytextfield6");
var sprytextfield5 = new Spry.Widget.ValidationTextField("sprytextfield5");
var sprytextfield3 = new Spry.Widget.ValidationTextField("sprytextfield3");
var spryselect2 = new Spry.Widget.ValidationSelect("spryselect2");
var spryselect5 = new Spry.Widget.ValidationSelect("spryselect5");
var spryselect4 = new Spry.Widget.ValidationSelect("spryselect4");
var spryselect1 = new Spry.Widget.ValidationSelect("spryselect1");
var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1");
var sprytextfield2 = new Spry.Widget.ValidationTextField("sprytextfield2");
var sprytextfield4 = new Spry.Widget.ValidationTextField("sprytextfield4");
var sprytextfield7 = new Spry.Widget.ValidationTextField("sprytextfield7");
var sprytextfield9 = new Spry.Widget.ValidationTextField("sprytextfield9");
var sprytextarea1 = new Spry.Widget.ValidationTextarea("sprytextarea1");
var sprytextfield11 = new Spry.Widget.ValidationTextField("sprytextfield11");
var sprytextfield10 = new Spry.Widget.ValidationTextField("sprytextfield10");
</script>
</form>
</body>
</html>
