<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <form id="contact-form" action="NeedingTA2", method="POST">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="../static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
<script src="../static/SpryAssets/SpryValidationSelect.js" type="text/javascript"></script>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<style type="text/css">
body {
	background-image: url();
	background-color: #5F5F5F;
}
</style>
<link href="../static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css" />
<link href="../static/SpryAssets/SpryValidationSelect.css" rel="stylesheet" type="text/css" />
</head>

<body onload="MM_preloadImages('../static/img/memu_icon_1.png','../static/img/user_icon_1.png','../static/img/home_icon_1.png')">
<table width="986" height="954" border="1" align="center" class="header_img">

  <tr>
    <td height="130" colspan="5" align="center" valign="top"><img src="../static/img/header.png" name="header" id="header" class="bg-color shadow header_img" /></td>
  </tr>
  <tr>
    <td width="48" height="39" align="center" valign="top" bgcolor="#252525"><a href="../static/test_link.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('memu_icon','','../static/img/memu_icon_1.png',1)"><img src="../static/img/memu_icon.png" width="46" height="39" id="memu_icon" /></a></td>
    <td width="123" align="center" valign="top" bgcolor="#252525"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_icon','','../static/img/home_icon_1.png',1)"><img src="../static/img/home_icon.png" width="121" height="39" id="home_icon" /></a></td>
    <td width="691" bgcolor="#252525">&nbsp;</td>
    <td width="48" align="center" valign="top" bgcolor="#252525">&nbsp;</td>
    <td width="46" align="center" valign="top" bgcolor="#252525"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','../static/img/user_icon_1.png',1)"><img src="../static/img/user_icon.png" name="user_icon" width="46" height="39" id="Image3" /></a></td>
  </tr>
  <tr>
    <td height="597" colspan="5" valign="top" nowrap="nowrap" bgcolor="#CCCCCC"><p>&nbsp;</p>
      <table width="977" height="521" border="0">
        <tr>
          <td colspan="8" align="center"><strong><h2>ความต้องการของ อาจารย์</h2></strong></td>
        </tr>
        <tr>
          <td colspan="8" align="center">&nbsp;</td>
        </tr>
        <tr>
          <td height="33" align="right">
              <span id="sprytextfield1">
              <label for="name"></label>
          </span></td>
          <td height="33" align="left"><p>&nbsp;</p></td>
          <td height="33" align="left">รหัสวิชา :
          <select name="subject" id="year_s">
            <option selected="selected">{% for i in subject %}{{i}}-</option>

          </select><td height="33" colspan="2"><p>จำนวน :
            <input type="text" name="numwant" id="name3" />
          </p></td>
          <td colspan="3" align="left">&nbsp;</td>
        </tr>
        <tr>
          <td width="80" height="33" align="center">&nbsp;</td>
          <td width="42" align="left"><p>&nbsp;</p></td>
          <td width="360" align="left">
            <label for="textfield"></label>
            เกรด :
            <input type="text" name="grade" id="name" />
          </td>
          <td width="119" align="left">ชั้นปี : <span id="spryselect2">
          <label for="year_s"></label>
          <select name="level" id="year_s">
            <option selected="selected">-</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          </span></td>
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td height="6" colspan="8"><span id="spryselect1">
            <label for="deparment_s"></label>
            <span class="btn btn-default"> 
            <blockquote>
              <blockquote>
                <blockquote>
                  <p>Syllabus : 
                    <input id="upload-file-selector" type="file" />
                    upload file </p>
                </blockquote>
              </blockquote>
            </blockquote>
            </span></span></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><p>คุณสมบัติ </p></td>
          <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td height="25" colspan="6" valign="top"><textarea style="overflow:auto;resize:none" rows="12" cols="95" name="attribute"></textarea>          </tr>
        <tr>
          <td colspan="4" align="right">&nbsp;</td>
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4" align="right"><p>
            <input type="submit" name="button" id="button" value="แสดงความต้องการ" />
          </p></td>
          <td colspan="4" align="left"><p>
            <input type="submit" name="button2" id="button2" value="   บันทึก    " />
          </p></td>
        </tr>
        <tr>
          <td height="29" colspan="4" align="right">&nbsp;</td>
          <td colspan="4"><blockquote>
            <p>&nbsp;</p>
          </blockquote></td>
        </tr>
        <tr>
          <td height="38" colspan="4"> <p><span id="fileselector">
          <label class="btn btn-default" for="upload-file-selector"><i class="fa_icon icon-upload-alt margin-correction"></i></label>
          </span></p>
            
              <label for="textfield2"></label>
          </td>
          <td width="172">&nbsp;</td>
          <td width="37">&nbsp;</td>

          <td width="137">&nbsp;</td>
        </tr>
      </table>
    <p>&nbsp;</p></td>
  </tr>
</table>
<blockquote>&nbsp;</blockquote>
<script type="text/javascript">
var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1");
var spryselect1 = new Spry.Widget.ValidationSelect("spryselect1");
var sprytextfield5 = new Spry.Widget.ValidationTextField("sprytextfield5");
</script>
</form>
</body>
</html>
