<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<form id="contact-form" action="/Need_Aj5_aj", method="POST">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>กรอกข้อมูลความต้องการTA</title>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<style type="text/css">
body {
	background-image: url();
}
</style>
<link rel="stylesheet" href="static/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="static/menu_style_2.css" />
 <link rel="stylesheet" href="static/login.css"/>
 <link rel="stylesheet" href="../../static/file upload.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../../static/file uploadJJJ.js"></script>
</head>

<body onload="MM_preloadImages('static/img/user_icon_1.png','static/img/home_icon_1.png')">

<table height="724" border="0" align="center" class="header_img">
  <tr>	
    <td height="32" colspan="6" align="center" valign="top"><img src="static/img/header.png" name="header"  id="header" class="bg-color shadow header_img" /></td>
  </tr>
  <tr>

    <td width="48" height="50" align="center" valign="bottom" class="bg-color2 shadow">

    <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ></span>
    <span class="caret"></span></button>
    <ul class="dropdown-menu font">
      <li><a href="recruitment">ประกาศรับสมัคร</a></li>
      <li><a href="pass_audition">ประกาศรายชือผู้ผ่านการคัดเลือก</a></li>
      <li><a href="EX_TA_form">ตัวอย่างการกรอกแบบฟอร์มการทำงาน</a></li>
      <li><a href="contact">ติดต่อ/แจ้งปัญหา</a></li>
      <div class="dropdown-divider"></div>
      <li><a href="Aj_needing">กรอกความต้องการ TA</a></li>
      <li><a href="TA_select">คัดเลือก TA</a></li>
      <li><a href="TA_working_form">ตรวจแบบฟอร์ม TA</a></li>
      <li><a href="TA_profile">ข้อมูล TA </a></li>
    </ul>
  </div>




   </td>
    <td width="155" align="center" valign="top" class="bg-color1 shadow1"><a href="home" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_icon','','static/img/home_icon_1.png',1)"><img src="static/img/home_icon.png" width="155" height="50" id="home_icon" class="bg-color1" /></a></td>
    <td width="701" class="bg-color1 shadow1">&nbsp;</td>
    <td width="46" align="center" valign="top" class="bg-color1 shadow1"><img src="../../static/img/UserAj.png" width="170" height="50" /></td>
    <td width="155" align="center" valign="top" class="bg-color1 shadow1"><a href="logout" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('logout','','static/img/end2.png',1)"><img src="static/img/end1.png" width="155" height="50" id="logout" class="bg-color1" /></a></td>



  </tr>
  <tr>
    <td height="614" colspan="5" align="center" valign="middle" class="bg-color shadow"><table width="860" border="0">
        <tr>
          <td colspan="6" align="center"><strong>ความต้องการของ อาจารย์</strong></td>
        </tr>
        <tr>
          <td width="66" align="right">รหัสวิชา :</td>
          <td colspan="2">
            <label for="code_subject"></label>
            <select name="code_subject" id="code_subject">
                {% for i in subject %}
            {% for j in i %}
            <option selected="selected">{{j}}</option>
            {% endfor %}{% endfor %}
            </select>
          </td>
          <td width="56">จำนวน :</td>
          <td width="398">
            <label for="number_peper"></label>
            <input type="text" name="number_peper" id="number_peper" />
          </td>
          <td width="57" align="right">&nbsp;</td>
        </tr>
        <tr>
          <td align="right">เกรด :</td>
          <td colspan="2">
            <label for="grade"></label>
            <input type="text" name="grade" id="grade" />
          </td>
          <td>ชั้นปี :</td>
          <td>
            <label for="number_year"></label>
            <select name="number_year" id="number_year">
            </select>
          </td>
          <td align="right">&nbsp;</td>
        </tr>
        <tr>
          <td height="61" align="right">Syllabus : </td>
          <td width="26" valign="middle">&nbsp;  
          
          </td>
          <td width="231" valign="middle">
          <div class="fileupload fileupload-new" data-provides="fileupload">
    <span class="btn btn-primary btn-file"><span class="fileupload-new">Select file</span>
    <span class="fileupload-exists">Change</span>         <input type="file" /></span>
    <span class="fileupload-preview"></span>
    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
  </div>
          
          </td>
          <td valign="middle">&nbsp;</td>
          <td valign="middle">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="right">คุณสมบัติ </td>
          <td colspan="4">
          <textarea style="overflow:auto;resize:none" rows="12" cols="95" name="attribute"></textarea>
          </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="5">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="5">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="5" align="right">
         <button  name="Need_Aj4_aj" type="submit" class="btn btn-info">แสดงความต้องการ </button>
          &nbsp;</td>
          <td align="center">
         <button  name="Need_Aj5_aj" type="submit" class="btn btn-info">บันทึก </button>
          </td>
        </tr>
        <tr>
          <td colspan="5">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    <p>&nbsp;</p></td>
  </tr>
</table>
</form>
</body>
</html>
