<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <form id="contact-form" action="/teachercomment", method="POST">


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>รายระเอียดการลงเวลาของTA</title>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<style type="text/css">
body {
	background-image: url();
}
</style>
<link rel="stylesheet" href="style.css"/>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="menu_style_2.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body onload="MM_preloadImages('static/img/bell_icon_1.png','static/img/home_icon_1.png','static/img/end2.png')">

<table width="985" height="968" border="0" align="center">
  <tr>
    <td height="302" colspan="5" align="center" valign="top"><img src="static/img/header.png" name="header" width="980" height="300" id="header" class="bg-color shadow" /></td>
  </tr>
  <tr>
    <td width="48" height="50" align="center" valign="bottom" class="bg-color2 shadow">
    
    <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ></span>
    <span class="caret"></span></button>
    <ul class="dropdown-menu font">
      <li><a href="recruitment">ประกาศรับสมัคร</a></li>
      <li><a href="pass_audition">ประกาศรายชือผู้ผ่านการคัดเลือก</a></li>
      <li><a href="EX_TA_form">ตัวอย่างการกรอกแบบฟอร์มการทำงาน</a></li>
      <li><a href="contact">ติดต่อ/แจ้งปัญหา</a></li>
      <div class="dropdown-divider"></div>
      <li><a href="Aj_needing">กรอกความต้องการ TA</a></li>
      <li><a href="TA_select">คัดเลือก TA</a></li>
      <li><a href="TA_working_form">ตรวจแบบฟอร์ม TA</a></li>
      <li><a href="TA_profile">ข้อมูล TA </a></li>
    </ul>
  </div>
    
    
    
    
   </td>
    <td width="155" align="center" valign="top" class="bg-color1 shadow1"><a href="home" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_icon','','static/img/home_icon_1.png',1)"><img src="static/img/home_icon.png" width="155" height="50" id="home_icon" class="bg-color1" /></a></td>
    <td width="701" class="bg-color1 shadow1">&nbsp;</td>
    <td width="46" align="center" valign="top" class="bg-color1 shadow1"><img src="../../static/img/UserAj.png" width="170" height="50" /></td>
    <td width="155" align="center" valign="top" class="bg-color1 shadow1"><a href="logout" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('logout','','static/img/end2.png',1)"><img src="static/img/end1.png" width="155" height="50" id="logout" class="bg-color1" /></a></td>
    
    
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<a href="#" class="btn btn-info btn-lg" role="button"><font color="#FFFFFF" class="font">Login</a>
				  </form>
					
				  <div class="login-help">
					<a href="forgot_password">Forgot Password</a>
				  </div>
				</div>
	  </div>
    </div>
    
    </td>
  </tr>
  <tr>
    <td height="614" colspan="5" align="center" valign="top" class="bg-color shadow font"><p>&nbsp;</p>
      <table width="765" height="470" border="0" class="font2">
        <tr>
          <td colspan="2" valign="top"><p>&nbsp;ชื่อนักศึกษา : {{nametashow}}</p>
            <table width="765" border="1">
              <tr>
                <td width="100" align="center">วัน/เดือน/ปี</td>
                <td width="98" align="center">เวลามา</td>
                <td width="106" align="center">เวลากลับ</td>
                <td width="433" align="center">สิ่งที่ได้ปฎิบัติ</td>
              </tr>
              <tr>
                <td>&nbsp;{% for i in daymonthyear %}
                  {% for j in i %}{{j}}
                  <br>
                  <br>
                {% endfor %}{% endfor %}
                </td>

                <td>{% for i in timecome %}
                  {% for j in i %}{{j}}
                  <br>
                  <br>
                {% endfor %}{% endfor %}</td>
                <td>{% for i in timeback %}
                  {% for j in i %}{{j}}
                  <br>
                  <br>
                {% endfor %}{% endfor %}</td>
                <td>{% for i in whatdo %}
                  {% for j in i %}{{j}}
                  <br>
                  <br>
                {% endfor %}{% endfor %}</td>
              </tr>


            </table>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>คำแนะนำ</p>
          <form id="form1" name="form1" method="post" action="">
            <label for="{{nametashow}}"></label>
            <textarea name="{{nametashow}}" id="comment" cols="45" rows="5"></textarea>
          </form>
          <p>&nbsp;</p></td>
        </tr>
        <tr>
          <td width="617" align="right" valign="top">
            <button  name="pass" type="submit" class="btn btn-info"> ผ่าน </button><br><br>
          &nbsp;</td>
          <td width="142" align="center" valign="top">
            <button  name="notpass" type="submit" class="btn btn-info"> ไม่ผ่าน </button><br><br>
          &nbsp;</td>
        </tr>
      </table>
    <p>&nbsp;</p>      <p>&nbsp;



    </p></td>
  </tr>
</table>
</form>
</body>
</html>

