<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ประกาศรับสมัคร</title>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
</script>
<style type="text/css">
body {
	background-image: url();
}
</style>
<link rel="stylesheet" href="static/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="static/menu_style_2.css" />
 <link rel="stylesheet" href="static/login.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body onload="MM_preloadImages('static/img/user_icon_1.png','static/img/home_icon_1.png')">

<table width="985" height="717" border="0" align="center" class="header_img">
   <tr>	
    <td height="32" colspan="6" align="center" valign="top"><img src="static/img/header.png" name="header"  id="header" class="bg-color shadow header_img" /></td>
  </tr>
  <tr>

    <td width="48" height="50" align="center" valign="bottom" class="bg-color2 shadow">

    <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ></span>
    <span class="caret"></span></button>
    <ul class="dropdown-menu font">
      <li><a href="recruitment">ประกาศรับสมัคร</a></li>
      <li><a href="pass_audition">ประกาศรายชือผู้ผ่านการคัดเลือก</a></li>
      <li><a href="EX_TA_form">ตัวอย่างการกรอกแบบฟอร์มการทำงาน</a></li>
      <li><a href="contact">ติดต่อ/แจ้งปัญหา</a></li>
      <div class="dropdown-divider"></div>
      <li><a href="Aj_needing">กรอกความต้องการ TA</a></li>
      <li><a href="TA_select">คัดเลือก TA</a></li>
      <li><a href="TA_working_form">ตรวจแบบฟอร์ม TA</a></li>
      <li><a href="TA_profile">ข้อมูล TA </a></li>
    </ul>
  </div>




   </td>
    <td width="155" align="center" valign="top" class="bg-color1 shadow1"><a href="home" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_icon','','static/img/home_icon_1.png',1)"><img src="static/img/home_icon.png" width="155" height="50" id="home_icon" class="bg-color1" /></a></td>
    <td width="701" class="bg-color1 shadow1">&nbsp;</td>
    <td width="46" align="center" valign="top" class="bg-color1 shadow1"><img src="../../static/img/UserAj.png" width="170" height="50" /></td>
    <td width="155" align="center" valign="top" class="bg-color1 shadow1"><a href="logout" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('logout','','static/img/end2.png',1)"><img src="static/img/end1.png" width="155" height="50" id="logout" class="bg-color1" /></a></td>



  </tr>
  <tr>
    <td height="614" colspan="5" valign="top" class="bg-color shadow"><p>&nbsp;</p>
      <table width="900" height="565" border="0" align="center" class="font">
        <tr align="center">
          <td height="561"><table width="300" height="467" border="1" align="center">
            <tr></tr>
            <tr>
              <td align="center">นักศึกษา TA</td>
            </tr>
            <tr>
              <td align="center"><p>COMPUTER PROGRAMMING FOR ROBOTICS AND AUTOMATION ENGINEERING I </p>
                <p>รหัสวิชา FRA141<br />
                </p>
                <p><a href="FRA_TA_property141">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course141">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร221TA" type="submit" id="สมัคร221TA" onclick="MM_goToURL('parent','Register_forAJ');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>ROBOTICS EXPLORATION</p>
                <p>รหัสวิชา FRA161 </p>
                <p><a href="FRA_TA_property161">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course161">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร222TA2" type="submit" id="สมัคร222TA2" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>DIGITAL ELECTRONICS</p>
                <p>รหัสวิชา FRA221</p>
                <p><a href="FRA_TA_property221">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course221">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA3" type="submit" id="สมัคร261TA3" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>INDUSTRIAL SENSORSAND ACTUATORS</p>
                <p>รหัสวิชาFRA222 </p>
                <p><a href="FRA_TA_property222">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course222">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA" type="submit" id="สมัคร261TA" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>STATICS AND DYNAMICS</p>
                <p>รหัสวิชาFRA231 </p>
                <p><a href="FRA_TA_property231">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course231">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA2" type="submit" id="สมัคร261TA2" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>SOFTWARE DEVELOPMENT FOR ROBOTICS AND AUTOMATION ENGINEERING</p>
                <p>รหัสวิชา FRA241 </p>
                <p><a href="FRA_TA_property241">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course241">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA4" type="submit" id="สมัคร261TA4" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>ROBOTICSAND AUTOMATION ENGINEERING LAB II<br />
                {FRA162 (Pre)}</p>
                <p>รหัสวิชา FRA261 </p>
                <p><a href="FRA_TA_property261">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course261">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA5" type="submit" id="สมัคร261TA5" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>IMAGE PROCESSING AND ANALYSIS</p>
                <p>รหัสวิชา FRA321</p>
                <p><a href="FRA_TA_property321">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course321">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA6" type="submit" id="สมัคร261TA6" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>BASIC CONTROL THEORY<br />
                {FRA221 (Pre)}</p>
                <p>รหัสวิชา FRA331</p>
                <p><a href="FRA_TA_property331">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course331">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA7" type="submit" id="สมัคร261TA7" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>ROBOT STRUCTURE DESIGN II<br />
                {FRA232 (Pre)}</p>
                <p>รหัสวิชา FRA332 </p>
                <p><a href="FRA_TA_property332">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course332">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA8" type="submit" id="สมัคร261TA8" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>EMBEDDED SYSTEM DESIGN</p>
                <p>รหัสวิชา FRA341 </p>
                <p><a href="FRA_TA_property341">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course341">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA9" type="submit" id="สมัคร261TA9" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>MANUFACTURING AND AUTOMATION</p>
                <p>รหัสวิชา FRA451 </p>
                <p><a href="FRA_TA_property451">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course451">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA10" type="submit" id="สมัคร261TA10" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>MANUFACTURING PROCESS</p>
                <p>รหัสวิชา FRA452 </p>
                <p><a href="FRA_TA_property452">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_TA_course452">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA11" type="submit" id="สมัคร261TA11" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
          </table>            <h1></h1></td>
          <td><table width="300" height="467" border="1" align="center">
            <tr></tr>
            <tr>
              <td align="center">นักศึกษา ทุนจ้างงาน</td>
            </tr>
            <tr>
              <td align="center"><p>COMPUTER PROGRAMMING FOR ROBOTICS AND AUTOMATION ENGINEERING I </p>
                <p>รหัสวิชา FRA141<br />
                </p>
                <p><a href="FRA_Hiring_property141">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course141">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร221TA2" type="submit" id="สมัคร221TA2" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>ROBOTICS EXPLORATION</p>
                <p>รหัสวิชา FRA161 </p>
                <p><a href="FRA_Hiring_property161">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course161">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร222TA" type="submit" id="สมัคร222TA" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>DIGITAL ELECTRONICS</p>
                <p>รหัสวิชา FRA221</p>
                <p><a href="FRA_Hiring_property221">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course221">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA12" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>INDUSTRIAL SENSORSAND ACTUATORS</p>
                <p>รหัสวิชาFRA222 </p>
                <p><a href="FRA_Hiring_property222">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course222">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA13" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>STATICS AND DYNAMICS</p>
                <p>รหัสวิชาFRA231 </p>
                <p><a href="FRA_Hiring_property231">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course231">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA14" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>SOFTWARE DEVELOPMENT FOR ROBOTICS AND AUTOMATION ENGINEERING</p>
                <p>รหัสวิชา FRA241 </p>
                <p><a href="FRA_Hiring_property241">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course241">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA15" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>ROBOTICSAND AUTOMATION ENGINEERING LAB II<br />
                {FRA162 (Pre)}</p>
                <p>รหัสวิชา FRA261 </p>
                <p><a href="FRA_Hiring_property261">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course261">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA16" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>IMAGE PROCESSING AND ANALYSIS</p>
                <p>รหัสวิชา FRA321</p>
                <p><a href="FRA_Hiring_property321">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course321">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA17" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>BASIC CONTROL THEORY<br />
                {FRA221 (Pre)}</p>
                <p>รหัสวิชา FRA331</p>
                <p><a href="FRA_Hiring_property331">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course331">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA18" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>ROBOT STRUCTURE DESIGN II<br />
                {FRA232 (Pre)}</p>
                <p>รหัสวิชา FRA332 </p>
                <p><a href="FRA_Hiring_property332">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course332">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA19" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>EMBEDDED SYSTEM DESIGN</p>
                <p>รหัสวิชา FRA341 </p>
                <p><a href="FRA_Hiring_property341">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course341">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA20" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>MANUFACTURING AND AUTOMATION</p>
                <p>รหัสวิชา FRA451 </p>
                <p><a href="FRA_Hiring_property451">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course451">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA21" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
            <tr>
              <td align="center"><p>MANUFACTURING PROCESS</p>
                <p>รหัสวิชา FRA452 </p>
                <p><a href="FRA_Hiring_property452">&lt;&lt;คุณสมบัติผู้สมัคร&gt;&gt;</a> <br />
                  <a href="FRA_Hiring_course452">&lt;&lt;รายละเอียด หลักสูตร&gt;&gt;</a><br />
                  <input name="สมัคร261TA12" type="submit" id="สมัคร261TA22" onclick="MM_goToURL('parent','Register_forTA');return document.MM_returnValue" value="สมัคร " />
                </p></td>
            </tr>
          </table>
            <h1></h1>
          <h1></h1></td>
        </tr>
      </table>
    <p>&nbsp;</p></td>
  </tr>
</table>
</body>
</html>
